@media screen and (max-width: 767px){  /*responsividade para celular*/
    header{
        flex-direction: column;
        line-height: 2rem;
    }

    nav{
        width: 100%;
    }
    
    .sessaoBanner{
        background-image: none;
    }

    .infos{
        width: 100%;
        margin: 0 auto;
    }

    .sessaoAbout{
        grid-template-columns: 1fr;
    }

    .infos-about{
        /* margin-right: 3rem; */
        margin: 0;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){ /*responsividade para tablets */
  .infos{
    margin-left: 30rem;
  }
}