@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

header{
    color: #414142;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #b9b9ba;

    padding: 1rem 0;
}

h2:hover{
    color: #1c1b1b;
    transform: scale(1.1);
    transition: 1s ease;
}

nav{
    width: 50%;
}

nav ul{
    
    text-transform: uppercase;

    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
}

ul li > a{
    color: #414142;
    text-decoration: none;
}

ul li:hover{
    text-decoration: underline;
    color: #0e0808;
    transform: scale(1.1);
    transition: 1s;
}

.sessaoBanner{
    background-image: url(./assets/pexels-math-331684.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    height: 45rem;

    display: flex;
    align-items: center;
    justify-content: end;
}

.sessaoBanner p:first-child{
    font-size: 3rem;
}

h1{
    font-size: 4rem;
    padding-bottom: 1rem;
}

.descricao{
    font-size: 1.2rem;
    line-height: 2rem;
}

.infos{
    color: #414142;
    width: 40%;

    margin-right: 2rem;
}

.redes-sociais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
}

.redes-sociais img{
    width: 1.5rem;
    height: 10vh;
}

.redes-sociais a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;
    margin: 0 auto;

    border: 2px solid #7b7c7d;
    border-radius: 100%;
}

.redes-sociais a:hover{
    background-color: #b9b9ba;
    box-shadow: 2px 2px 2px black;
    transform: scale(1.1);
    transition: 0.6s;
}

.sessaoAbout{
    background-color: #f0f1f3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.sessaoAbout img{
    border: 1px solid black;
    border-radius: 50%;
    margin:  auto;
}

.sessaoAbout img:hover{
    transform: scale(1.1);
    transition: 0.6s;
    box-shadow: 7px 5px 14px -3px rgba(0,0,0,0.65);
    background-color: #d9d9db;
}

.infos-about{
    /* margin-right: 3rem; */
    margin: 7rem 3rem 7rem 0  ;
}

.infos-about h3{
    font-size: 3rem;
}

.infos-about span{
    color: #b9b9ba;
}

.infos-about p{
    padding-bottom: 2rem;
    line-height: 2rem;
}

.infos-about a{
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;

    padding: 0.8rem;
}

.infos-about a:hover{
    background-color: #4c4b4b;
    transition: 1s;
    color: whitesmoke;
}

.sessaoSkills{
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 2rem 0;
}

.sessaoSkills h3{
    font-size: 3rem;
}

.sessaoSkills span{
    color: #b9b9ba;
}

.skils{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 1rem 0;
}

.skils article{
    border: 1px solid black;
    border-radius: 25px;
    width: 20rem;
}

.skils img{
    padding: 2rem 0;
}

.skils p{
    line-height: 1.5rem;
}

.sessaoProjects{
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 5rem 0;
}

.sessaoProjects h3{
    font-size: 3rem;
}

.sessaoProjects span{
    color: #b9b9ba;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

    line-height: 1.5rem;
    margin: 1rem 0;
}

.sessaoProjects article{
    width: 20rem;

    border: 1px solid black;
    border-radius: 25px;

}


.sessaoProjects img{
    width: 15rem;
    padding: 2rem 0;
}

footer{
    background-color: #0e0808;
    color: white;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}