@media screen and (max-width: 600px){  /*responsividade para celular*/
    header{
        flex-direction: column;
    }

    nav{
        width: 100%;
    }
    
    .sessaoBanner{
        background-position: initial;
    }

    .sessaoAbout{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 601px) and (max-width: 800){ /*responsividade para tablets */
    
}